*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*To box model*/
}
/*global design*/
body{
    font-family: Merriweather;
    background-color: #ebf2ff;
    overflow-x: hidden;

}
.button__primary{
    background-color:orangered ;
    color: #ebf2ff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 110px;
    margin: 10px;
    font-size: 15px;
    cursor: pointer;
}
.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  
}
.navbar__brand{
    width: 100px;
}
.navbar__logo{
    width: 100%;
}
.hero__container{
    width: 100%;
}
.hero__image__container{
    width: 100%;
}
.hero__image{
    width: 100%;
    margin: 10px 0;
}
.hero__text{
    font-size: 33px;
    margin: 20px 0;
    color: #1d3557;

}
/*menu styles
.food__menu__card{
    width: 100%;
}

.food__image{
    width: 100%;
}
*/



@media(min-width: 768px){
.navbar{
    justify-content: space-between;
    padding: 10px 20px;
}
.navbar__logo{
    width: 140px;
}
.nav__item{
    padding: 10px; 
    font-size: 12px;
}
.hero__container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}
.hero__image{
    width: 120%;
    margin: 0 10px;
}
.hero__text{
    font-size: 35px;

}
.button__primary{
    padding: 20px 20px;
    width: 150px;
    font-size: 20px;
}
}
@media(min-width: 1020px){
    .navbar{
        justify-content: space-between;
        padding: 10px 20px;
    }
    .nav__item{
        padding: 10px; 
        font-size: 12px;
    }
    .container{
        max-width: 900px;
        display: flex;
    }
    .hero__image{
        width: 500px;
        margin: 20px 2px;
    }
    .hero__text{
        font-size: 50px;
    }
   
    
    }
    @media(min-width:1400px){
    .container{
        max-width: 1250px;
        
    }
    .hero__image{
        width:100%;
    }
    }
    