*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*To box model*/
}
/*global design*/
body{
    font-family: Merriweather;
    background-color: #ebf2ff;
    overflow-x: hidden;

}
.button__primary{
    background-color:red ;
    color: #ebf2ff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 80px;
}
.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}
.navbar__brand{
    width: 100px;
}
.navbar__logo{
    width: 100%;
}
.hero__container{
    width: 100%;
}
.hero__image__container{
    width: 100%;
}
.hero__image{
    width: 100%;
}



@media(min-width: 768px){
.navbar{
    justify-content: space-between;
    padding: 10px 20px;
}
.nav__item{
    padding: 10px; 
    font-size: 12px;
}
.hero__container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}
}
@media(min-width: 1020px){
    .navbar{
        justify-content: space-between;
        padding: 10px 20px;
    }
    .nav__item{
        padding: 10px; 
        font-size: 12px;
    }
    .hero__image__container{
        width: 500px;
        height: 500px;
    }
    .container{
        max-width: 1010px;
    }
    }
    